### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Python
__pycache__/
*.py[cod]

# Runtime state generated while using super-flow-kit locally
/.sfk/
/docs/super-flow-kit/

# CocoIndex Code (ccc)
/.cocoindex_code/
